.plan-card {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 1rem;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    justify-content: start;
}

.plan-card > img {
    height: 2.7rem
}

.plan-card > .details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
}

.plan-card > .details > p {
    margin: 0.2rem 0
}

.plan-card > .details > .name {
    font-weight: bold;
    color: var(--marine-blue);  
}

.plan-card > .details > .price {
    font-size: 0.9rem;
    color: var(--cool-gray);  
}

.plan-card > .details > .perks {
    font-size: 0.8rem;
    color: var(--marine-blue);  
}

.plan-card.selected {
    border-color: var(--marine-blue);
    background-color: var(--mangolia);
}