.call-to-action-button {
    height: fit-content;
    width: fit-content;
    padding: 0.6rem 0.5rem;
    background-color: var(--marine-blue);
    border-radius: 0.3rem;
    border-style: none;
}

.call-to-action-button > p {
    color: var(--white);
    font-size: 0.75rem;
    font-weight: bold;
}

.final-action {
    background-color: var(--purplish-blue);
}